# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Editor / IDE
.vscode/
.idea/

# Temporary / Scratch scripts
scratch/

# Raw dataset files & huge intermediate evaluation tensors (>100MB)
eeg_feature_smooth/
*_attentions.npy
seed_iv_processed.npz

